In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv('telecom_churn_data.csv')

In [23]:
df.head(5)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [24]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mobile_number             99999 non-null  int64
 1   circle_id                 99999 non-null  int64
 2   loc_og_t2o_mou            98981 non-null  float64
 3   std_og_t2o_mou            98981 non-null  float64
 4   loc_ic_t2o_mou            98981 non-null  float64
 5   last_date_of_month_6      99999 non-null  object
 6   last_date_of_month_7      99398 non-null  object
 7   last_date_of_month_8      98899 non-null  object
 8   last_date_of_month_9      98340 non-null  object
 9   arpu_6                    99999 non-null  float64
 10  arpu_7                    99999 non-null  float64
 11  arpu_8                    99999 non-null  float64
 12  arpu_9                    99999 non-null  float64
 13  onnet_mou_6               96062 non-null  float64
 14  onnet_mou_7               96140 non-null  float64
 15  onnet_mou_8               94621 non-null  float64
 16  onnet_mou_9               92254 non-null  float64
 17  offnet_mou_6              96062 non-null  float64
 18  offnet_mou_7              96140 non-null  float64
 19  offnet_mou_8              94621 non-null  float64
 20  offnet_mou_9              92254 non-null  float64
 21  roam_ic_mou_6             96062 non-null  float64
 22  roam_ic_mou_7             96140 non-null  float64
 23  roam_ic_mou_8             94621 non-null  float64
 24  roam_ic_mou_9             92254 non-null  float64
 25  roam_og_mou_6             96062 non-null  float64
 26  roam_og_mou_7             96140 non-null  float64
 27  roam_og_mou_8             94621 non-null  float64
 28  roam_og_mou_9             92254 non-null  float64
 29  loc_og_t2t_mou_6          96062 non-null  float64
 30  loc_og_t2t_mou_7          96140 non-null  float64
 31  loc_og_t2t_mou_8          94621 non-null  float64
 32  loc_og_t2t_mou_9          92254 non-null  float64
 33  loc_og_t2m_mou_6          96062 non-null  float64
 34  loc_og_t2m_mou_7          96140 non-null  float64
 35  loc_og_t2m_mou_8          94621 non-null  float64
 36  loc_og_t2m_mou_9          92254 non-null  float64
 37  loc_og_t2f_mou_6          96062 non-null  float64
 38  loc_og_t2f_mou_7          96140 non-null  float64
 39  loc_og_t2f_mou_8          94621 non-null  float64
 40  loc_og_t2f_mou_9          92254 non-null  float64
 41  loc_og_t2c_mou_6          96062 non-null  float64
 42  loc_og_t2c_mou_7          96140 non-null  float64
 43  loc_og_t2c_mou_8          94621 non-null  float64
 44  loc_og_t2c_mou_9          92254 non-null  float64
 45  loc_og_mou_6              96062 non-null  float64
 46  loc_og_mou_7              96140 non-null  float64
 47  loc_og_mou_8              94621 non-null  float64
 48  loc_og_mou_9              92254 non-null  float64
 49  std_og_t2t_mou_6          96062 non-null  float64
 50  std_og_t2t_mou_7          96140 non-null  float64
 51  std_og_t2t_mou_8          94621 non-null  float64
 52  std_og_t2t_mou_9          92254 non-null  float64
 53  std_og_t2m_mou_6          96062 non-null  float64
 54  std_og_t2m_mou_7          96140 non-null  float64
 55  std_og_t2m_mou_8          94621 non-null  float64
 56  std_og_t2m_mou_9          92254 non-null  float64
 57  std_og_t2f_mou_6          96062 non-null  float64
 58  std_og_t2f_mou_7          96140 non-null  float64
 59  std_og_t2f_mou_8          94621 non-null  float64
 60  std_og_t2f_mou_9          92254 non-null  float64
 61  std_og_t2c_mou_6          96062 non-null  float64
 62  std_og_t2c_mou_7          96140 non-null  float64
 63  std_og_t2c_mou_8          94621 non-null  float64
 64  std_og_t2c_mou_9          92254 non-null  float64
 65  std_og_mou_6              96062 non-null  float64
 66  std_og_mou_7              96140 non-null  float64
 67  std_og_mou_8              94621 non-null  float64
 68  std_og_mou_9              92254 non-null  float64
 69  isd_og_mou_6              96062 non-null  float64
 70  isd_og_mou_7              96140 non-null  float64
 71  isd_og_mou_8              94621 non-null  float64
 72  isd_og_mou_9              92254 non-null  float64
 73  spl_og_mou_6              96062 non-null  float64
 74  spl_og_mou_7              96140 non-null  float64
 75  spl_og_mou_8              94621 non-null  float64
 76  spl_og_mou_9              92254 non-null  float64
 77  og_others_6               96062 non-null  float64
 78  og_others_7               96140 non-null  float64
 79  og_others_8               94621 non-null  float64
 80  og_others_9               92254 non-null  float64
 81  total_og_mou_6            99999 non-null  float64
 82  total_og_mou_7            99999 non-null  float64
 83  total_og_mou_8            99999 non-null  float64
 84  total_og_mou_9            99999 non-null  float64
 85  loc_ic_t2t_mou_6          96062 non-null  float64
 86  loc_ic_t2t_mou_7          96140 non-null  float64
 87  loc_ic_t2t_mou_8          94621 non-null  float64
 88  loc_ic_t2t_mou_9          92254 non-null  float64
 89  loc_ic_t2m_mou_6          96062 non-null  float64
 90  loc_ic_t2m_mou_7          96140 non-null  float64
 91  loc_ic_t2m_mou_8          94621 non-null  float64
 92  loc_ic_t2m_mou_9          92254 non-null  float64
 93  loc_ic_t2f_mou_6          96062 non-null  float64
 94  loc_ic_t2f_mou_7          96140 non-null  float64
 95  loc_ic_t2f_mou_8          94621 non-null  float64
 96  loc_ic_t2f_mou_9          92254 non-null  float64
 97  loc_ic_mou_6              96062 non-null  float64
 98  loc_ic_mou_7              96140 non-null  float64
 99  loc_ic_mou_8              94621 non-null  float64
 100 loc_ic_mou_9              92254 non-null  float64
 101 std_ic_t2t_mou_6          96062 non-null  float64
 102 std_ic_t2t_mou_7          96140 non-null  float64
 103 std_ic_t2t_mou_8          94621 non-null  float64
 104 std_ic_t2t_mou_9          92254 non-null  float64
 105 std_ic_t2m_mou_6          96062 non-null  float64
 106 std_ic_t2m_mou_7          96140 non-null  float64
 107 std_ic_t2m_mou_8          94621 non-null  float64
 108 std_ic_t2m_mou_9          92254 non-null  float64
 109 std_ic_t2f_mou_6          96062 non-null  float64
 110 std_ic_t2f_mou_7          96140 non-null  float64
 111 std_ic_t2f_mou_8          94621 non-null  float64
 112 std_ic_t2f_mou_9          92254 non-null  float64
 113 std_ic_t2o_mou_6          96062 non-null  float64
 114 std_ic_t2o_mou_7          96140 non-null  float64
 115 std_ic_t2o_mou_8          94621 non-null  float64
 116 std_ic_t2o_mou_9          92254 non-null  float64
 117 std_ic_mou_6              96062 non-null  float64
 118 std_ic_mou_7              96140 non-null  float64
 119 std_ic_mou_8              94621 non-null  float64
 120 std_ic_mou_9              92254 non-null  float64
 121 total_ic_mou_6            99999 non-null  float64
 122 total_ic_mou_7            99999 non-null  float64
 123 total_ic_mou_8            99999 non-null  float64
 124 total_ic_mou_9            99999 non-null  float64
 125 spl_ic_mou_6              96062 non-null  float64
 126 spl_ic_mou_7              96140 non-null  float64
 127 spl_ic_mou_8              94621 non-null  float64
 128 spl_ic_mou_9              92254 non-null  float64
 129 isd_ic_mou_6              96062 non-null  float64
 130 isd_ic_mou_7              96140 non-null  float64
 131 isd_ic_mou_8              94621 non-null  float64
 132 isd_ic_mou_9              92254 non-null  float64
 133 ic_others_6               96062 non-null  float64
 134 ic_others_7               96140 non-null  float64
 135 ic_others_8               94621 non-null  float64
 136 ic_others_9               92254 non-null  float64
 137 total_rech_num_6          99999 non-null  int64
 138 total_rech_num_7          99999 non-null  int64
 139 total_rech_num_8          99999 non-null  int64
 140 total_rech_num_9          99999 non-null  int64
 141 total_rech_amt_6          99999 non-null  int64
 142 total_rech_amt_7          99999 non-null  int64
 143 total_rech_amt_8          99999 non-null  int64
 144 total_rech_amt_9          99999 non-null  int64
 145 max_rech_amt_6            99999 non-null  int64
 146 max_rech_amt_7            99999 non-null  int64
 147 max_rech_amt_8            99999 non-null  int64
 148 max_rech_amt_9            99999 non-null  int64
 149 date_of_last_rech_6       98392 non-null  object
 150 date_of_last_rech_7       98232 non-null  object
 151 date_of_last_rech_8       96377 non-null  object
 152 date_of_last_rech_9       95239 non-null  object
 153 last_day_rch_amt_6        99999 non-null  int64
 154 last_day_rch_amt_7        99999 non-null  int64
 155 last_day_rch_amt_8        99999 non-null  int64
 156 last_day_rch_amt_9        99999 non-null  int64
 157 date_of_last_rech_data_6  25153 non-null  object
 158 date_of_last_rech_data_7  25571 non-null  object
 159 date_of_last_rech_data_8  26339 non-null  object
 160 date_of_last_rech_data_9  25922 non-null  object
 161 total_rech_data_6         25153 non-null  float64
 162 total_rech_data_7         25571 non-null  float64
 163 total_rech_data_8         26339 non-null  float64
 164 total_rech_data_9         25922 non-null  float64
 165 max_rech_data_6           25153 non-null  float64
 166 max_rech_data_7           25571 non-null  float64
 167 max_rech_data_8           26339 non-null  float64
 168 max_rech_data_9           25922 non-null  float64
 169 count_rech_2g_6           25153 non-null  float64
 170 count_rech_2g_7           25571 non-null  float64
 171 count_rech_2g_8           26339 non-null  float64
 172 count_rech_2g_9           25922 non-null  float64
 173 count_rech_3g_6           25153 non-null  float64
 174 count_rech_3g_7           25571 non-null  float64
 175 count_rech_3g_8           26339 non-null  float64
 176 count_rech_3g_9           25922 non-null  float64
 177 av_rech_amt_data_6        25153 non-null  float64
 178 av_rech_amt_data_7        25571 non-null  float64
 179 av_rech_amt_data_8        26339 non-null  float64
 180 av_rech_amt_data_9        25922 non-null  float64
 181 vol_2g_mb_6               99999 non-null  float64
 182 vol_2g_mb_7               99999 non-null  float64
 183 vol_2g_mb_8               99999 non-null  float64
 184 vol_2g_mb_9               99999 non-null  float64
 185 vol_3g_mb_6               99999 non-null  float64
 186 vol_3g_mb_7               99999 non-null  float64
 187 vol_3g_mb_8               99999 non-null  float64
 188 vol_3g_mb_9               99999 non-null  float64
 189 arpu_3g_6                 25153 non-null  float64
 190 arpu_3g_7                 25571 non-null  float64
 191 arpu_3g_8                 26339 non-null  float64
 192 arpu_3g_9                 25922 non-null  float64
 193 arpu_2g_6                 25153 non-null  float64
 194 arpu_2g_7                 25571 non-null  float64
 195 arpu_2g_8                 26339 non-null  float64
 196 arpu_2g_9                 25922 non-null  float64
 197 night_pck_user_6          25153 non-null  float64
 198 night_pck_user_7          25571 non-null  float64
 199 night_pck_user_8          26339 non-null  float64
 200 night_pck_user_9          25922 non-null  float64
 201 monthly_2g_6              99999 non-null  int64
 202 monthly_2g_7              99999 non-null  int64
 203 monthly_2g_8              99999 non-null  int64
 204 monthly_2g_9              99999 non-null  int64
 205 sachet_2g_6               99999 non-null  int64
 206 sachet_2g_7               99999 non-null  int64
 207 sachet_2g_8               99999 non-null  int64
 208 sachet_2g_9               99999 non-null  int64
 209 monthly_3g_6              99999 non-null  int64
 210 monthly_3g_7              99999 non-null  int64
 211 monthly_3g_8              99999 non-null  int64
 212 monthly_3g_9              99999 non-null  int64
 213 sachet_3g_6               99999 non-null  int64
 214 sachet_3g_7               99999 non-null  int64
 215 sachet_3g_8               99999 non-null  int64
 216 sachet_3g_9               99999 non-null  int64
 217 fb_user_6                 25153 non-null  float64
 218 fb_user_7                 25571 non-null  float64
 219 fb_user_8                 26339 non-null  float64
 220 fb_user_9                 25922 non-null  float64
 221 aon                       99999 non-null  int64
 222 aug_vbc_3g                99999 non-null  float64
 223 jul_vbc_3g                99999 non-null  float64
 224 jun_vbc_3g                99999 non-null  float64
 225 sep_vbc_3g                99999 non-null  float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

We can eliminate the following columns straight away:
- last_date_of_month_6
- last_date_of_month_7
- last_date_of_month_8
- last_date_of_month_9

In [25]:
df = df.drop(labels=['last_date_of_month_6','last_date_of_month_7','last_date_of_month_8','last_date_of_month_9'],axis=1)

## Missing value treatment

#### Dorping the rows which are more than 40% empty and the columns which are more than 60% empty

In [37]:
df.dropna(thresh=df.shape[0]*0.6,how='all',axis=1)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,monthly_3g_9,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,197.385,214.816,213.803,21.100,NaN,...,0,0,0,0,0,968,30.40,0.00,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,34.047,355.074,268.321,86.285,24.11,...,0,0,0,0,0,1006,0.00,0.00,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,167.690,189.058,210.226,290.714,11.54,...,0,0,0,0,0,1103,0.00,0.00,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,221.338,251.102,508.054,389.500,99.91,...,0,0,0,0,0,2491,0.00,0.00,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,261.636,309.876,238.174,163.426,50.31,...,0,0,0,0,0,1526,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,7001548952,109,0.0,0.0,0.0,18.471,69.161,57.530,29.950,5.40,...,0,0,0,0,0,3199,0.00,0.00,0.00,0.00
99995,7000607688,109,0.0,0.0,0.0,112.201,77.811,79.081,140.835,29.26,...,0,0,0,0,0,2052,0.00,0.00,0.00,0.00
99996,7000087541,109,0.0,0.0,0.0,229.187,0.000,0.000,0.000,1.11,...,0,0,0,0,0,185,0.00,0.00,0.00,0.00
99997,7000498689,109,0.0,0.0,0.0,322.991,303.386,606.817,731.010,0.00,...,4,1,0,0,0,478,1445.74,1151.03,1173.18,0.00
99998,7001905007,109,0.0,0.0,0.0,687.065,0.000,0.000,0.000,84.34,...,0,0,0,0,0,751,0.00,0.00,0.00,0.00

In [40]:
df.dropna(thresh=df.shape[1]*0.4,how='all',axis=0)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,197.385,214.816,213.803,21.100,NaN,...,0,1.0,1.0,1.0,NaN,968,30.40,0.00,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,34.047,355.074,268.321,86.285,24.11,...,0,NaN,1.0,1.0,NaN,1006,0.00,0.00,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,167.690,189.058,210.226,290.714,11.54,...,0,NaN,NaN,NaN,1.0,1103,0.00,0.00,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,221.338,251.102,508.054,389.500,99.91,...,0,NaN,NaN,NaN,NaN,2491,0.00,0.00,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,261.636,309.876,238.174,163.426,50.31,...,0,0.0,NaN,NaN,NaN,1526,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,7001548952,109,0.0,0.0,0.0,18.471,69.161,57.530,29.950,5.40,...,0,NaN,NaN,NaN,NaN,3199,0.00,0.00,0.00,0.00
99995,7000607688,109,0.0,0.0,0.0,112.201,77.811,79.081,140.835,29.26,...,0,NaN,NaN,NaN,NaN,2052,0.00,0.00,0.00,0.00
99996,7000087541,109,0.0,0.0,0.0,229.187,0.000,0.000,0.000,1.11,...,0,1.0,NaN,NaN,NaN,185,0.00,0.00,0.00,0.00
99997,7000498689,109,0.0,0.0,0.0,322.991,303.386,606.817,731.010,0.00,...,0,1.0,1.0,1.0,1.0,478,1445.74,1151.03,1173.18,0.00
99998,7001905007,109,0.0,0.0,0.0,687.065,0.000,0.000,0.000,84.34,...,0,1.0,NaN,NaN,NaN,751,0.00,0.00,0.00,0.00

### Imputing the missing values

In [41]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 222 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   mobile_number             99999 non-null  int64
 1   circle_id                 99999 non-null  int64
 2   loc_og_t2o_mou            98981 non-null  float64
 3   std_og_t2o_mou            98981 non-null  float64
 4   loc_ic_t2o_mou            98981 non-null  float64
 5   arpu_6                    99999 non-null  float64
 6   arpu_7                    99999 non-null  float64
 7   arpu_8                    99999 non-null  float64
 8   arpu_9                    99999 non-null  float64
 9   onnet_mou_6               96062 non-null  float64
 10  onnet_mou_7               96140 non-null  float64
 11  onnet_mou_8               94621 non-null  float64
 12  onnet_mou_9               92254 non-null  float64
 13  offnet_mou_6              96062 non-null  float64
 14  offnet_mou_7              96140 non-null  float64
 15  offnet_mou_8              94621 non-null  float64
 16  offnet_mou_9              92254 non-null  float64
 17  roam_ic_mou_6             96062 non-null  float64
 18  roam_ic_mou_7             96140 non-null  float64
 19  roam_ic_mou_8             94621 non-null  float64
 20  roam_ic_mou_9             92254 non-null  float64
 21  roam_og_mou_6             96062 non-null  float64
 22  roam_og_mou_7             96140 non-null  float64
 23  roam_og_mou_8             94621 non-null  float64
 24  roam_og_mou_9             92254 non-null  float64
 25  loc_og_t2t_mou_6          96062 non-null  float64
 26  loc_og_t2t_mou_7          96140 non-null  float64
 27  loc_og_t2t_mou_8          94621 non-null  float64
 28  loc_og_t2t_mou_9          92254 non-null  float64
 29  loc_og_t2m_mou_6          96062 non-null  float64
 30  loc_og_t2m_mou_7          96140 non-null  float64
 31  loc_og_t2m_mou_8          94621 non-null  float64
 32  loc_og_t2m_mou_9          92254 non-null  float64
 33  loc_og_t2f_mou_6          96062 non-null  float64
 34  loc_og_t2f_mou_7          96140 non-null  float64
 35  loc_og_t2f_mou_8          94621 non-null  float64
 36  loc_og_t2f_mou_9          92254 non-null  float64
 37  loc_og_t2c_mou_6          96062 non-null  float64
 38  loc_og_t2c_mou_7          96140 non-null  float64
 39  loc_og_t2c_mou_8          94621 non-null  float64
 40  loc_og_t2c_mou_9          92254 non-null  float64
 41  loc_og_mou_6              96062 non-null  float64
 42  loc_og_mou_7              96140 non-null  float64
 43  loc_og_mou_8              94621 non-null  float64
 44  loc_og_mou_9              92254 non-null  float64
 45  std_og_t2t_mou_6          96062 non-null  float64
 46  std_og_t2t_mou_7          96140 non-null  float64
 47  std_og_t2t_mou_8          94621 non-null  float64
 48  std_og_t2t_mou_9          92254 non-null  float64
 49  std_og_t2m_mou_6          96062 non-null  float64
 50  std_og_t2m_mou_7          96140 non-null  float64
 51  std_og_t2m_mou_8          94621 non-null  float64
 52  std_og_t2m_mou_9          92254 non-null  float64
 53  std_og_t2f_mou_6          96062 non-null  float64
 54  std_og_t2f_mou_7          96140 non-null  float64
 55  std_og_t2f_mou_8          94621 non-null  float64
 56  std_og_t2f_mou_9          92254 non-null  float64
 57  std_og_t2c_mou_6          96062 non-null  float64
 58  std_og_t2c_mou_7          96140 non-null  float64
 59  std_og_t2c_mou_8          94621 non-null  float64
 60  std_og_t2c_mou_9          92254 non-null  float64
 61  std_og_mou_6              96062 non-null  float64
 62  std_og_mou_7              96140 non-null  float64
 63  std_og_mou_8              94621 non-null  float64
 64  std_og_mou_9              92254 non-null  float64
 65  isd_og_mou_6              96062 non-null  float64
 66  isd_og_mou_7              96140 non-null  float64
 67  isd_og_mou_8              94621 non-null  float64
 68  isd_og_mou_9              92254 non-null  float64
 69  spl_og_mou_6              96062 non-null  float64
 70  spl_og_mou_7              96140 non-null  float64
 71  spl_og_mou_8              94621 non-null  float64
 72  spl_og_mou_9              92254 non-null  float64
 73  og_others_6               96062 non-null  float64
 74  og_others_7               96140 non-null  float64
 75  og_others_8               94621 non-null  float64
 76  og_others_9               92254 non-null  float64
 77  total_og_mou_6            99999 non-null  float64
 78  total_og_mou_7            99999 non-null  float64
 79  total_og_mou_8            99999 non-null  float64
 80  total_og_mou_9            99999 non-null  float64
 81  loc_ic_t2t_mou_6          96062 non-null  float64
 82  loc_ic_t2t_mou_7          96140 non-null  float64
 83  loc_ic_t2t_mou_8          94621 non-null  float64
 84  loc_ic_t2t_mou_9          92254 non-null  float64
 85  loc_ic_t2m_mou_6          96062 non-null  float64
 86  loc_ic_t2m_mou_7          96140 non-null  float64
 87  loc_ic_t2m_mou_8          94621 non-null  float64
 88  loc_ic_t2m_mou_9          92254 non-null  float64
 89  loc_ic_t2f_mou_6          96062 non-null  float64
 90  loc_ic_t2f_mou_7          96140 non-null  float64
 91  loc_ic_t2f_mou_8          94621 non-null  float64
 92  loc_ic_t2f_mou_9          92254 non-null  float64
 93  loc_ic_mou_6              96062 non-null  float64
 94  loc_ic_mou_7              96140 non-null  float64
 95  loc_ic_mou_8              94621 non-null  float64
 96  loc_ic_mou_9              92254 non-null  float64
 97  std_ic_t2t_mou_6          96062 non-null  float64
 98  std_ic_t2t_mou_7          96140 non-null  float64
 99  std_ic_t2t_mou_8          94621 non-null  float64
 100 std_ic_t2t_mou_9          92254 non-null  float64
 101 std_ic_t2m_mou_6          96062 non-null  float64
 102 std_ic_t2m_mou_7          96140 non-null  float64
 103 std_ic_t2m_mou_8          94621 non-null  float64
 104 std_ic_t2m_mou_9          92254 non-null  float64
 105 std_ic_t2f_mou_6          96062 non-null  float64
 106 std_ic_t2f_mou_7          96140 non-null  float64
 107 std_ic_t2f_mou_8          94621 non-null  float64
 108 std_ic_t2f_mou_9          92254 non-null  float64
 109 std_ic_t2o_mou_6          96062 non-null  float64
 110 std_ic_t2o_mou_7          96140 non-null  float64
 111 std_ic_t2o_mou_8          94621 non-null  float64
 112 std_ic_t2o_mou_9          92254 non-null  float64
 113 std_ic_mou_6              96062 non-null  float64
 114 std_ic_mou_7              96140 non-null  float64
 115 std_ic_mou_8              94621 non-null  float64
 116 std_ic_mou_9              92254 non-null  float64
 117 total_ic_mou_6            99999 non-null  float64
 118 total_ic_mou_7            99999 non-null  float64
 119 total_ic_mou_8            99999 non-null  float64
 120 total_ic_mou_9            99999 non-null  float64
 121 spl_ic_mou_6              96062 non-null  float64
 122 spl_ic_mou_7              96140 non-null  float64
 123 spl_ic_mou_8              94621 non-null  float64
 124 spl_ic_mou_9              92254 non-null  float64
 125 isd_ic_mou_6              96062 non-null  float64
 126 isd_ic_mou_7              96140 non-null  float64
 127 isd_ic_mou_8              94621 non-null  float64
 128 isd_ic_mou_9              92254 non-null  float64
 129 ic_others_6               96062 non-null  float64
 130 ic_others_7               96140 non-null  float64
 131 ic_others_8               94621 non-null  float64
 132 ic_others_9               92254 non-null  float64
 133 total_rech_num_6          99999 non-null  int64
 134 total_rech_num_7          99999 non-null  int64
 135 total_rech_num_8          99999 non-null  int64
 136 total_rech_num_9          99999 non-null  int64
 137 total_rech_amt_6          99999 non-null  int64
 138 total_rech_amt_7          99999 non-null  int64
 139 total_rech_amt_8          99999 non-null  int64
 140 total_rech_amt_9          99999 non-null  int64
 141 max_rech_amt_6            99999 non-null  int64
 142 max_rech_amt_7            99999 non-null  int64
 143 max_rech_amt_8            99999 non-null  int64
 144 max_rech_amt_9            99999 non-null  int64
 145 date_of_last_rech_6       98392 non-null  object
 146 date_of_last_rech_7       98232 non-null  object
 147 date_of_last_rech_8       96377 non-null  object
 148 date_of_last_rech_9       95239 non-null  object
 149 last_day_rch_amt_6        99999 non-null  int64
 150 last_day_rch_amt_7        99999 non-null  int64
 151 last_day_rch_amt_8        99999 non-null  int64
 152 last_day_rch_amt_9        99999 non-null  int64
 153 date_of_last_rech_data_6  25153 non-null  object
 154 date_of_last_rech_data_7  25571 non-null  object
 155 date_of_last_rech_data_8  26339 non-null  object
 156 date_of_last_rech_data_9  25922 non-null  object
 157 total_rech_data_6         25153 non-null  float64
 158 total_rech_data_7         25571 non-null  float64
 159 total_rech_data_8         26339 non-null  float64
 160 total_rech_data_9         25922 non-null  float64
 161 max_rech_data_6           25153 non-null  float64
 162 max_rech_data_7           25571 non-null  float64
 163 max_rech_data_8           26339 non-null  float64
 164 max_rech_data_9           25922 non-null  float64
 165 count_rech_2g_6           25153 non-null  float64
 166 count_rech_2g_7           25571 non-null  float64
 167 count_rech_2g_8           26339 non-null  float64
 168 count_rech_2g_9           25922 non-null  float64
 169 count_rech_3g_6           25153 non-null  float64
 170 count_rech_3g_7           25571 non-null  float64
 171 count_rech_3g_8           26339 non-null  float64
 172 count_rech_3g_9           25922 non-null  float64
 173 av_rech_amt_data_6        25153 non-null  float64
 174 av_rech_amt_data_7        25571 non-null  float64
 175 av_rech_amt_data_8        26339 non-null  float64
 176 av_rech_amt_data_9        25922 non-null  float64
 177 vol_2g_mb_6               99999 non-null  float64
 178 vol_2g_mb_7               99999 non-null  float64
 179 vol_2g_mb_8               99999 non-null  float64
 180 vol_2g_mb_9               99999 non-null  float64
 181 vol_3g_mb_6               99999 non-null  float64
 182 vol_3g_mb_7               99999 non-null  float64
 183 vol_3g_mb_8               99999 non-null  float64
 184 vol_3g_mb_9               99999 non-null  float64
 185 arpu_3g_6                 25153 non-null  float64
 186 arpu_3g_7                 25571 non-null  float64
 187 arpu_3g_8                 26339 non-null  float64
 188 arpu_3g_9                 25922 non-null  float64
 189 arpu_2g_6                 25153 non-null  float64
 190 arpu_2g_7                 25571 non-null  float64
 191 arpu_2g_8                 26339 non-null  float64
 192 arpu_2g_9                 25922 non-null  float64
 193 night_pck_user_6          25153 non-null  float64
 194 night_pck_user_7          25571 non-null  float64
 195 night_pck_user_8          26339 non-null  float64
 196 night_pck_user_9          25922 non-null  float64
 197 monthly_2g_6              99999 non-null  int64
 198 monthly_2g_7              99999 non-null  int64
 199 monthly_2g_8              99999 non-null  int64
 200 monthly_2g_9              99999 non-null  int64
 201 sachet_2g_6               99999 non-null  int64
 202 sachet_2g_7               99999 non-null  int64
 203 sachet_2g_8               99999 non-null  int64
 204 sachet_2g_9               99999 non-null  int64
 205 monthly_3g_6              99999 non-null  int64
 206 monthly_3g_7              99999 non-null  int64
 207 monthly_3g_8              99999 non-null  int64
 208 monthly_3g_9              99999 non-null  int64
 209 sachet_3g_6               99999 non-null  int64
 210 sachet_3g_7               99999 non-null  int64
 211 sachet_3g_8               99999 non-null  int64
 212 sachet_3g_9               99999 non-null  int64
 213 fb_user_6                 25153 non-null  float64
 214 fb_user_7                 25571 non-null  float64
 215 fb_user_8                 26339 non-null  float64
 216 fb_user_9                 25922 non-null  float64
 217 aon                       99999 non-null  int64
 218 aug_vbc_3g                99999 non-null  float64
 219 jul_vbc_3g                99999 non-null  float64
 220 jun_vbc_3g                99999 non-null  float64
 221 sep_vbc_3g                99999 non-null  float64
dtypes: float64(179), int64(35), object(8)
memory usage: 169.4+ MB